<!DOCTYPE html>
<html>
  <head>
    <title>Sample Template</title>
  </head>
  <body>
	<header><%= render "partials/header" %></header>
		<%= render :partial => "partials/menu" %>

		<%=  yeild %>

	<footer><%= render :partial => "partials/footer" %></footer>
  </body>
</html>        
